################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release
/Debug
/UAEControllerpack/Release
/UAEControllerpack/Debug
